@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url('../public/paporotnik.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  line-height: 1;
  font-family: 'Inter', sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-custom {
  border: 3px solid;

  border-image-source: linear-gradient(136.81deg, rgba(255, 255, 255, 0.2) 0.33%, rgba(255, 255, 255, 0) 75.73%);
}
